@page
@model WebUI.Pages.Products.IndexModel
@using System.Globalization

@{
    ViewData["Title"] = "Товари";
}

<h2>Список товарів</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Фірма</th>
            <th>Ціна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Data)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Brand</td>
            <td>@item.Price.ToString("C", new CultureInfo("uk-UA"))</td>
            <td>
                <a class="btn btn-sm btn-outline-primary"
                   asp-page="Details" asp-route-id="@item.Id">
                    Деталі
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
